NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=""
NEXT_PUBLIC_SITE_URL="https://your-domain.com"
FIREBASE_DATABASE_URL=""
ADMIN_PASSWORD_SCRYPT=""
GEMINI_API_KEY=""
GOOGLE_GENERATIVE_AI_API_KEY=""
GOOGLE_PAGESPEED_API_KEY=""
JWT_SECRET=""
PASSWORD_SALT=""
REVALIDATION_TOKEN=""
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""
FIREBASE_PROJECT_ID=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY=""
FIREBASE_STORAGE_BUCKET=""
TELEGRAM_GROUP_ID=""
